
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.historylogadmin-EHj {
  background-color: #d6d5d5;
  border-radius: 1rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-x8ht-moT {
    width: 100%;
    height: 18.4rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-2-Kpy {
      width: 144rem;
      height: 13.1rem;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #1410f3;
    }
    .student-smart-printing-service-aF7 {
      font-size: 6.4rem;
      font-weight: 800;
      color: #ffffff;
      white-space: nowrap;
      height: 7.8rem;
      left: 39.6rem;
      text-align: right;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 98.3rem;
      position: absolute;
      top: 2.2rem;
    }
    .image-1-4g5 {
      width: 10.2rem;
      height: 10.2rem;
      position: absolute;
      left: 8.3rem;
      top: 1.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-3-nry {
      width: 144rem;
      height: 5.8rem;
      position: absolute;
      left: 0;
      top: 12.6rem;
      background-color: #fffdfd;
    }
    .xin-chao-admin1-XpZ {
      width: 26.9rem;
      height: 3.9rem;
      left: 91.1rem;
      font-size: 3.2rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      top: 13.6rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .ng-xut-dch {
      width: 19.5rem;
      height: 3.9rem;
      font-size: 3.2rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      position: absolute;
      left: 123.3rem;
      top: 13.6rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
    }
  }
  .auto-group-4nxv-Xxy {
    box-sizing: border-box;
    padding: 2.7rem 6.1rem 5.2rem 6.1rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .auto-group-7zds-fZP {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.7rem 2.1rem 3.8rem;
      width: calc(100% - 6.5rem);
      height: 4.6rem;
      display: flex;

      .qltk-BXj {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.8rem;
        line-height: 1.2125;
        flex-shrink: 0;
        height: 100%;
        width: 39.995rem;
        font-weight: 700;
        color: #ffffff;
        background-color: #1e6de5;
        border-radius: 2.5rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-th8h-TVF {
        padding-left: 2.6575rem;
        height: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;

        .xem-lch-s-c7F {
          margin-right: 2.6575rem;
          width: 39.995rem;
          height: 4.4rem;
          line-height: 1.2125;
          white-space: nowrap;
          background-color: #1ecde5;
          border-radius: 2.5rem;
          display: flex;
          justify-content: center;
          font-size: 2.8rem;
          flex-shrink: 0;
          color: #ffffff;
          align-items: center;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
        }
        .qun-l-my-in-4V3 {
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.8rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
          font-family: Inter, 'Source Sans Pro';
          width: 39.995rem;
          height: 4.4rem;
          display: flex;
          line-height: 1.2125;
          background-color: #1e6de5;
          border-radius: 2.5rem;
        }
      }
    }
    .auto-group-hip5-8Uu {
      background-color: #e9e9e9;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 5.9rem 2.4rem 2.8rem 2.7rem;
      width: 100%;
      height: 69.4rem;
      display: flex;
      align-items: flex-start;

      .auto-group-cpqr-TXB {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 3rem;
        width: 122.9rem;
        align-items: center;

        .auto-group-pgdk-CUm {
          width: 100%;
          height: 5.8rem;
          display: flex;
          column-gap: 1.2rem;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 2.1rem;

          .stt-KpH {
            height: 100%;
            justify-content: center;
            text-align: center;
            color: #ffffff;
            background-color: #33a6e7;
            flex-shrink: 0;
            width: 8rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .tn-user-qXj {
            color: #ffffff;
            align-items: center;
            justify-content: center;
            width: 30rem;
            height: 100%;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            background-color: #33a6e7;
            flex-shrink: 0;
            font-family: Inter, 'Source Sans Pro';
            text-align: center;
            white-space: nowrap;
            display: flex;
          }
          .tn-file-LzH {
            height: 100%;
            color: #ffffff;
            background-color: #33a6e7;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            width: 26rem;
            text-align: center;
            align-items: center;
          }
          .s-lng-rSq {
            align-items: center;
            background-color: #33a6e7;
            width: 15.2rem;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            height: 100%;
            font-size: 3.2rem;
            line-height: 1.2125;
            flex-shrink: 0;
            font-weight: 700;
            color: #ffffff;
            justify-content: center;
          }
          .kh-M8h {
            width: 16rem;
            height: 100%;
            white-space: nowrap;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            display: flex;
            background-color: #33a6e7;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .thi-gian-ThX {
            justify-content: center;
            background-color: #34a7e7;
            height: 100%;
            font-size: 3.2rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            width: 21.7rem;
            text-align: center;
            font-weight: 700;
            align-items: center;
            line-height: 1.2125;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-x6tf-N3o {
          background-color: #d9d9d9;
          flex-shrink: 0;
          height: 5.1rem;
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.2125;
          align-items: center;
          justify-content: center;
          width: 100%;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
        }
      }
      .auto-group-gdgh-Ucd {
        width: 0.8rem;
        height: 100%;
        background-color: #d9d9d9;
        flex-shrink: 0;

        .rectangle-37-qCH {
          width: 100%;
          height: 14rem;
          background-color: #6e6e6e;
        }
      }
    }
  }
}
