
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.changepass-ukR {
  box-sizing: border-box;
  padding: 0.5rem 0rem 9.9rem 0rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d6d5d5;
  border-radius: 1rem;
}
.changepass-ukR .auto-group-sjcr-bk9 {
  margin: 0rem 0rem 10.4rem 0rem;
  box-sizing: border-box;
  padding: 2.3rem 6rem 0.7rem 8.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1410f3;
  flex-shrink: 0;
}
.logo-img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 102px;
  overflow: hidden;
  max-width: 100%;
}

.logo-text {
  position: relative;
  color: #fff;
  text-align: right;
  align-self: center;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
  font: 800 64px/77px Inter, 'Source Sans Pro';
}

@media (max-width: 991px) {
  .logo-text {
    max-width: 100%;
    font-size: 40px;
    line-height: 53px;
  }
}
.div-5 {
  background-color: #e9e9e9;
  align-self: center;
  display: flex;
  width: 90%;
  max-width: 1318px;
  flex-direction: column;
  align-items: start;
  margin-top: 40px;
  padding: 50px 47px 50px 61px;
}
@media (max-width: 991px) {
  .div-5 {
    max-width: 100%;
    margin: 40px 0;
    padding: 0 20px;
  }
}
.div-6 {
  align-self: stretch;
  margin-top: 6px;
}
@media (max-width: 991px) {
  .div-6 {
    max-width: 100%;
    padding-right: 20px;
  }
}
.div-7 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-7 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 90%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-8 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-8 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div-10 {
  color: #000;
  margin: auto 0;
  font: 700 32px Inter, sans-serif;
}
.div-11 {
  align-self: stretch;
  max-width: 433px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
  }
}
.div-12 {
  color: #000;
  background-color: #fcfee8;
  align-items: start;
  padding: 14px 20px 8px 37px;
  font: 700 32px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-12 {
    max-width: 100%;
    padding-left: 10px;
  }
}
.div-13 {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-13 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-14 {
  justify-content: center;
  color: #000;
  margin: auto 0;
  font: 700 32px Inter, sans-serif;
}
.div-15 {
  align-self: stretch;
  display: flex;
  max-width: 433px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-15 {
    max-width: 100%;
  }
}
.div-16 {
  color: #000;
  background-color: #fcfee8;
  align-items: start;
  padding: 14px 20px 8px 36px;
  font: 700 32px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-16 {
    max-width: 100%;
    padding-left: 10px;
  }
}
.div-17 {
  display: flex;
  margin-top: 65px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-17 {
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-18 {
  justify-content: center;
  color: #000;
  margin: auto 0;
  font: 700 32px Inter, sans-serif;
}
.div-19 {
  align-self: stretch;
  display: flex;
  max-width: 433px;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .div-19 {
    max-width: 100%;
  }
}
.div-20 {
  color: #000;
  background-color: #fcfee8;
  align-items: start;
  padding: 14px 20px 8px 35px;
  font: 700 32px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-20 {
    max-width: 100%;
    padding-left: 10px;
  }
}
.img-4 {
  aspect-ratio: 308;
  object-fit: contain;
  object-position: center;
  width: 100%;
  stroke-width: 4px;
  stroke: #d6d5d6;
  overflow: hidden;
  align-self: stretch;
  margin-top: 58px;
}
@media (max-width: 991px) {
  .img-4 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-21 {
  display: flex;
  width: 425px;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
  margin: 44px 0 72px;
}
@media (max-width: 991px) {
  .div-21 {
    flex-wrap: wrap;
    margin: 40px 0;
  }
}
.div-22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  position: relative;
  background-color: #1410f3;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  flex: 1;
  cursor: pointer;
  padding: 24px 20px;
  font: 700 32px Inter, sans-serif;
}
.div-23 {
  position: relative;
}
.div-24 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  cursor: pointer;
  text-align: center;
  position: relative;
  background-color: #1410f3;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  flex: 1;
  padding: 24px 20px;
  font: 700 32px Inter, sans-serif;
}
.div-25 {
  position: relative;
}
@media screen and (max-width: 320px){
  html{
    font-size: 30%;
  }
}
@media screen and (min-width: 320px){
  html{
    font-size: 20%;
  }
}
@media screen and (min-width: 576px){
  html{
    font-size: 30%;
  }
}
@media screen and (min-width: 1023px){
  html{
    font-size: 62.5%;
  }
}